<html>  
<head>  
<title>Home Page</title>  
</head>
<body>
<h2>Select The subjects</h2>
<br><br>
<form action = "/success" method = "post" enctype="multipart/form-data">  

    <input type="checkbox" name = "subject" id="Physics" value="Physics" />
    <label for="Physics">Physics</label>  <br>

    <input type="checkbox" name = "subject" id="Chemistry" value="Chemistry" /> 
    <label for="Chemistry">Chemistry</label> <br>

    <input type="checkbox" name = "subject" id="ComputerScience" value="Computer Science" /> 
    <label for="ComputerScience">Computer Science</label> <br>

    <input type="checkbox" name = "subject" id="Anthrpology" value="Anthrpology" />
    <label for="Anthrpology">Anthrpology</label>  <br>

    <input type="checkbox" name = "subject" id="Phychology" value="Phychology" /> 
    <label for="Phychology">Phychology</label> <br>
    
    <input type="checkbox" name = "subject" id="History" value="History" /> 
    <label for="History">History</label> <br>
   
    <input type = "submit" value="Upload">  
</form>  

</body>  
</html>  